image: node:22.18.0

default:
  interruptible: true

stages:
  - installation
  - build
  - triggers

variables:
  npm_config_cache: '${CI_PROJECT_DIR}/.npm'
  NPM_VERSION: '11.6.2'

before_script:
  - npm i -g npm@${NPM_VERSION}

installation:
  stage: installation
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: push
    paths:
      - node_modules
      - apps/*/node_modules
      - packages/*/node_modules
      - networks/*/node_modules
      - wallets/*/node_modules
      - .npm
  script:
    - npm ci

build:
  stage: build
  cache:
    - key: ${CI_COMMIT_REF_NAME}
      policy: pull-push
      paths:
        - node_modules
        - apps/*/node_modules
        - networks/*/node_modules
        - networks/*/dist
        - packages/*/node_modules
        - packages/*/dist
        - wallets/*/node_modules
        - wallets/*/dist
        - .npm
  script:
    - npm run build:mono-packages

run_ci:
  stage: triggers
  trigger:
    include:
      - local: .gitlab/workflows/ci.yml
    strategy: mirror
