logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

coverage
yarn.lock
*.sqlite
*.tsbuildinfo

.bin
.env
.next
out
build
config
**/configs/*.json
**/configs/*.yaml
**/configs/*.yml
next-env.d.ts
!config/default.yaml
!config/default.yml
!config/schema.json

.devcontainer

**/vite.config.*.mjs
**/vitest.config.*.mjs

# default health-check report file
**/healthReport.json
