image: node:18.14

stages:
  - installation
  - build
  - type_check
  - lint

installation:
  stage: installation
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: push
    paths:
      - node_modules
      - apps/*/node_modules
      - packages/*/node_modules
  script:
    - npm ci

build:
  stage: build
  cache:
    - key: $CI_COMMIT_REF_NAME
      policy: pull-push
      paths:
        - node_modules
        - apps/*/node_modules
        - packages/*/node_modules
        - packages/*/dist
  script:
    # FIXME: This needs to be removed when a monorepo build mechanism is added
    # https://git.ergopool.io/ergo/rosen-bridge/ui/-/issues/24
    - npm run build --workspace packages/utils
    - npm run build --workspace packages/constants
    - npm run build --workspace packages/types
    - npm run build --workspace packages --if-present
    - npm run build --workspace wallets/wallet-api
    - npm run build --workspace wallets/nami-wallet
    - npm run build --workspace wallets/nautilus-wallet

type_check:
  stage: type_check
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: pull
    paths:
      - node_modules
      - apps/*/node_modules
      - packages/*/node_modules
      - packages/*/dist
      - wallets/*/node_modules
      - wallets/*/dist
  script:
    - npm run type-check --workspaces --if-present

lint:
  stage: lint
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: pull
    paths:
      - node_modules
  script:
    - npm run lint --workspaces --if-present
