.RosenLayoutList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--rosen-spacing) * 2);
  flex-grow: 1;
}

.RosenLayoutList-toolbar {
  display: flex;
  gap: calc(var(--rosen-spacing) * 2);
  flex-wrap: nowrap;
}

.RosenLayoutList-search {
  flex: 1 1 auto;
  min-width: 0;
}

.RosenLayoutList-sort,
.RosenLayoutList-view {
  flex-shrink: 0;
}

.RosenLayoutList-body {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.RosenLayoutList-main {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--rosen-spacing) * 2);
}

.RosenLayoutList-content {
  width: 100%;
  flex-grow: 1;
}

.RosenLayoutList-pagination {
  width: 100%;
}

.RosenLayoutList-sidebar {
  flex-shrink: 0;
}
