.RosenLabelGroup {
  display: grid;
  grid-template-columns: auto auto 1fr;

  // TODO
  .RosenLabel-horizontal {
    grid-column: 1 / 4;
    display: grid !important;
    grid-template-columns: subgrid;

    .RosenLabel-inset {
      grid-column: 1 / 2;
    }

    .RosenLabel-container {
      grid-column: 2 / 4;
      display: grid !important;
      grid-template-columns: subgrid;
    }

    .RosenLabel-label {
      grid-column: 1 / 2;
    }
  }
}
