.RosenLabelGroup {
  display: grid;
  grid-template-columns: auto 1fr;
}

.RosenLabelGroup .RosenLabel[data-orientation='horizontal'] {
  grid-column: 1 / 3;
  display: grid !important;
  grid-template-columns: subgrid;
}
