@use './center/styles' as *;
@use './columns/styles' as *;
@use './connector/styles' as *;
@use './gridContainer/styles' as *;
@use './icon/styles' as *;
@use './identifier/styles' as *;
@use './labelGroup/styles' as *;
@use './link/styles' as *;
@use './network/styles' as *;
@use './tableGrid/styles' as *;
@use './tableGridBody/styles' as *;
@use './tableGridBodyDetails/styles' as *;
@use './tableGridCell/styles' as *;
@use './tableGridHeader/styles' as *;
@use './tableGridRow/styles' as *;
@use './text/styles' as *;
@use './truncate/styles' as *;
@use './viewToggle/styles' as *;

:root {
  --rosen-spacing: 8px;
  --rosen-palette-background: var(--rosen-palette-background-default);
  --rosen-palette-error: var(--rosen-palette-error-main);
  --rosen-palette-info: var(--rosen-palette-info-main);
  --rosen-palette-neutral: var(--rosen-palette-neutral-main);
  --rosen-palette-primary: var(--rosen-palette-primary-main);
  --rosen-palette-secondary: var(--rosen-palette-secondary-main);
  --rosen-palette-success: var(--rosen-palette-success-main);
  --rosen-palette-warning: var(--rosen-palette-warning-main);
}
