:root {
  --rosen-spacing: 8px;
  --rosen-palette-background: var(--rosen-palette-background-default);
  --rosen-palette-error: var(--rosen-palette-error-main);
  --rosen-palette-info: var(--rosen-palette-info-main);
  --rosen-palette-neutral: var(--rosen-palette-neutral-main);
  --rosen-palette-primary: var(--rosen-palette-primary-main);
  --rosen-palette-secondary: var(--rosen-palette-secondary-main);
  --rosen-palette-success: var(--rosen-palette-success-main);
  --rosen-palette-warning: var(--rosen-palette-warning-main);
}


.dropdown {
  padding: 6px;
  width: 160px;
  background: #e5e4e7;
  border-radius: 12px;
}

/* enter initial */
.dropdown[data-animation="enter"] {
  opacity: 0;
  transform: translateY(-10px);
}

/* entering */
.dropdown[data-animation="entering"] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* entered */
.dropdown[data-animation="entered"] {
  opacity: 1;
  transform: translateY(0);
}

/* exit initial */
.dropdown[data-animation="exit"] {
  opacity: 1;
  transform: translateY(0);
}

/* exiting */
.dropdown[data-animation="exiting"] {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* exited */
.dropdown[data-animation="exited"] {
  opacity: 0;
  transform: translateY(-10px);
}


// ============ Dropdown ============
.Dropdown {
  width: 150px;
  padding: 1px;
  border-radius: 16px;
  transition: opacity 700ms ease, transform 700ms ease;

  // Open animation
  &[data-animation='open'][data-state='start'] {
    opacity: 0;
    transform: translateY(-1px);
    visibility: visible;
  }

  &[data-animation='open'][data-state='running'] {
    opacity: 0.9;
    transform: translateY(-5px);
    background-color: #cfcfcf;
    visibility: visible;
  }

  &[data-animation='open'][data-state='end'] {
    opacity: 1;
    transform: translateY(-5px);
    visibility: visible;
    background-color: #cfcfcf;
  }

  &[data-animation='open'][data-state='idle'] {
    opacity: 1;
    visibility: visible;
    transform: translateY(-5px);
    background-color: #cfcfcf;
  }

  // Close animation
  &[data-animation='close'][data-state='start'] {
    opacity: 1;
    transform: translateY(-8px);
    background-color: #cfcfcf;
  }

  &[data-animation='close'][data-state='running'] {
    opacity: 0;
    transform: translateY(-81px);
    background-color: #cfcfcf;
  }

  &[data-animation='close'][data-state='end'] {
    opacity: 0;
    transform: translateY(-81px);
    visibility: hidden;
  }

  &[data-animation='close'][data-state='idle'] {
    opacity: 0;
    transform: translateY(-81px);
    visibility: hidden;
  }


  // Error animation
  &[data-animation='error'][data-state='start'] {
    opacity: 1;
    transform: scale(1);
  }

  &[data-animation='error'][data-state='running'] {
    opacity: 1;
    transform: scale(3);

  }

  &[data-animation='error'][data-state='end'] {
    opacity: 1;
    transform: scale(3);
  }
}
