/* TODO */
/* @use "sass:map";

$alert-colors: (
        success: (
                light: var(--rosen-palette-success-light),
                main: var(--rosen-palette-success-main),
                contrast: var(--rosen-palette-primary-contrastText),
                text: var(--rosen-palette-neutral-dark),
        ),
        warning: (
                light: var(--rosen-palette-warning-light),
                main: var(--rosen-palette-warning-main),
                contrast: var(--rosen-palette-primary-contrastText),
                text: var(--rosen-palette-neutral-dark),
        ),
        error: (
                light: var(--rosen-palette-error-light),
                main: var(--rosen-palette-error-main),
                contrast: var(--rosen-palette-primary-contrastText),
                text: var(--rosen-palette-neutral-dark),
        ),
        info: (
                light: var(--rosen-palette-info-light),
                main: var(--rosen-palette-info-main),
                contrast: var(--rosen-palette-primary-contrastText),
                text: var(--rosen-palette-neutral-dark),
        )
);

$alert-variants: (standard, filled, outlined);

.RosenAlert {
  border-radius: calc(var(--rosen-spacing) * 2);

  //TODO[hazhir]: talk about this with masoud for check this issue in select the children
  .RosenAlert-inner {
    display: flex;
    align-items: center;

    padding: var(--rosen-spacing) var(--rosen-spacing) var(--rosen-spacing) calc(var(--rosen-spacing) * 2);
  }


  @each $type, $color in $alert-colors {
    @each $variant in $alert-variants {

      &[data-severity="#{$type}"][data-variant="#{$variant}"] {

        $light: map.get($color, light);
        $main: map.get($color, main);
        $contrast: map.get($color, contrast);
        $text: map.get($color, text);

        @if $variant == standard {
          background-color: $light;
          color: $main;

          .RosenAlert-icon svg {
            color: $main;
          }
        }

        @if $variant == filled {
          background-color: $main;
          color: $contrast;

          .RosenAlert-icon svg {
            color: $contrast;
          }
        }

        @if $variant == outlined {
          background-color: transparent;
          border: 1px solid $light;
          color: $text;

          .RosenAlert-icon svg {
            color: $main;
          }
        }

        font-size: 0.875rem;
        line-height: 1.25rem;

        .RosenAlert-icon svg {
          margin-right: var(--rosen-spacing);
        }
      }
    }
  }
}

.RosenAlert-icon {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.RosenAlert-content {
  flex: 1;
  display: flex;
  font-size: inherit;
  align-items: center;
  padding: var(--rosen-spacing) 0;
}

.RosenAlert-actions {
  display: flex;
  flex-direction: row;
  gap: var(--rosen-spacing);
  flex: 0 0 auto;
  font-size: inherit;
}
 */
