.RosenTabsTrigger {
  display: flex;
  align-items: center;

  &:not([data-disabled]) {
    cursor: pointer;
  }

  &[data-icon-position="start"] {
    flex-direction: row;
    justify-content: flex-start;
  }

  &[data-icon-position="top"] {
    flex-direction: column;
    justify-content: center;
  }
}
