.rosen-CardBody {
  display: flex;
  flex-direction: column;
  gap: calc(var(--rosen-spacing) * 1);
}

.rosen-EventCard__header {
  display: flex;
  flex-direction: row;
  gap: var(--rosen-spacing);
}

.rosen-EventCard__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
