.RosenDialogHeader {
  display: flex;
  align-items: center;
  gap: calc(var(--rosen-spacing) * 2);
}

.RosenDialogHeader-spacer {
  flex-grow: 1;
}

.RosenDialogHeader > .RosenIcon:first-child {
  display: flex;
  box-sizing: content-box;
  border-radius: 50%;
  color: var(--rosen-palette-secondary-dark);
  background: var(--rosen-palette-secondary-light);
  border: solid 8px var(--rosen-palette-secondary-light);
}
