.rosen-Duration { 
  display: flex;
  align-items: baseline;
  gap: calc(var(--rosen-spacing) * 1.0);
}

.rosen-Duration__part {
  display: flex;
  align-items: baseline;
  gap: calc(var(--rosen-spacing) * 0.5);
}
