// TODO
.RosenTabsTab {
  // TODO
  // &[data-active] {
  //   color: var(--color-gray-900);
  // }

  &[data-icon-position='start'] {
    flex-direction: row;
    justify-content: flex-start;
  }

  &[data-icon-position='top'] {
    flex-direction: column;
    justify-content: center;
  }
}

// TODO
// .Indicator {
//   position: absolute;
//   z-index: -1;
//   left: 0;
//   top: 50%;
//   translate: var(--active-tab-left) -50%;
//   width: var(--active-tab-width);
//   height: 1.5rem;
//   border-radius: 0.25rem;
//   background-color: var(--color-gray-100);
//   transition-property: translate, width;
//   transition-duration: 200ms;
//   transition-timing-function: ease-in-out;
// }
