.RosenDrawerBody-viewport {
  --viewport-padding: 0px;
  padding: var(--viewport-padding);

  position: fixed;
  inset: 0;
  display: flex;
  z-index: 4;

  @supports (-webkit-touch-callout: none) {
    --viewport-padding: 0.625rem;
  }

  &[data-swipe-direction='down'],
  &:has(.RosenDrawerBody[data-swipe-direction='down']) {
    align-items: flex-end;
    justify-content: center;
  }

  &[data-swipe-direction='up'],
  &:has(.RosenDrawerBody[data-swipe-direction='up']) {
    align-items: flex-start;
    justify-content: center;
  }

  &[data-swipe-direction='right'],
  &:has(.RosenDrawerBody[data-swipe-direction='right']) {
    align-items: stretch;
    justify-content: flex-end;
  }

  &[data-swipe-direction='left'],
  &:has(.RosenDrawerBody[data-swipe-direction='left']) {
    align-items: stretch;
    justify-content: flex-start;
  }
}

.RosenDrawerBody {
  --bleed: 3rem;
  position: relative;
  box-sizing: border-box;

  background-color: var(--rosen-palette-background-paper, #fff);
  outline: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);
  will-change: transform;
  z-index: 4;

  &[data-swipe-direction='down'] {
    width: 100%;
    max-height: calc(90vh + var(--bleed));
    height: fit-content;
    margin-bottom: calc(-1 * var(--bleed));
    padding-bottom: var(--bleed);
    border-radius: calc(var(--rosen-spacing, 8px) * 2) calc(var(--rosen-spacing, 8px) * 2) 0 0;

    transform: translateY(var(--drawer-swipe-movement-y));

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateY(calc(100% - var(--bleed) + 2px));
    }
  }

  &[data-swipe-direction='up'] {
    width: 100%;
    max-height: calc(90vh + var(--bleed));
    height: fit-content;
    margin-top: calc(-1 * var(--bleed));
    padding-top: var(--bleed);

    transform: translateY(var(--drawer-swipe-movement-y));

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateY(calc(-100% + var(--bleed) - 2px));
    }
  }

  &[data-swipe-direction='right'] {
    height: 100%;
    width: calc(20rem + var(--bleed));
    max-width: calc(100vw - 3rem + var(--bleed));
    padding: 1.5rem;
    padding-right: calc(1.5rem + var(--bleed));
    margin-right: calc(-1 * var(--bleed));

    transform: translateX(var(--drawer-swipe-movement-x));

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateX(calc(100% - var(--bleed) + var(--viewport-padding) + 2px));
    }
  }

  &[data-swipe-direction='left'] {
    height: 100%;
    width: calc(20rem + var(--bleed));
    max-width: calc(100vw - 3rem + var(--bleed));
    padding: 1.5rem;
    padding-left: calc(1.5rem + var(--bleed));
    margin-left: calc(-1 * var(--bleed));

    transform: translateX(var(--drawer-swipe-movement-x));

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateX(calc(-100% + var(--bleed) - var(--viewport-padding) - 2px));
    }
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.RosenDrawerBody-backdrop {
  --backdrop-opacity: 0.2;
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
  transition-duration: 450ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  &[data-swiping] {
    transition-duration: 0ms;
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.RosenDrawerBody-child {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}
