logs:
  - type: 'console'
    level: 'info'
ergo:
  addresses:
    lock:
    eventTrigger:
    permit:
    fraud:
  tokens:
    rwt:
  initialHeight:
cardano:
  addresses:
    lock:
    eventTrigger:
    permit:
    fraud:
  tokens:
    rwt:
  initialHeight:
  koiosAuthToken:
bitcoin:
  addresses:
    lock:
    eventTrigger:
    permit:
    fraud:
  tokens:
    rwt:
  initialHeight:
postgres:
  url: # postgresql://username:password@host:port/databasename
  logging: false
  useSSL: false
calculator:
  addresses:
    ergo: []
    cardano: []
