name: CI

on:
  pull_request:
    branches: ['master', 'dev']

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Setup npm 11.6.2
        run: npm i -g npm@11.6.2

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build:mono-packages

      - name: Knip
        run: npx knip --dependencies

      - name: Type Check
        run: npm run type-check --workspaces --if-present

      - name: Prettify
        run: npm run prettify:check

      - name: Lint
        run: npm run lint:check

      - name: Test
        run: npm run coverage

      - name: changeset
        run: |
          git fetch origin dev
          npx changeset status --since=origin/dev
