name: Build and Push Docker Image for Development
on:
  push:
    branches:
      - dev

jobs:
  build:
    name: Build and Push Docker Image for Development
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        apps:
          - watcher
          - guard

    steps:
      - name: Checkout the Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build dependencies
        run: |
          npm ci 
          npm run build --workspace packages/constants 
          npm run build --workspace packages/types 
          npm run build --workspace packages/utils 
          npm run build --workspace packages --if-present

      - name: Move Config Files
        run: |
          mv docker/nginx.conf ./
          mv docker/entrypoint.sh ./

      - name: Build App
        run: |
          cd ./apps/${{ matrix.apps }}
          npm run build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          # set PLATFORM_LIST as list of platform names separate with comma eg. linux/amd64,linux/arm64,linux/arm/v7
          platforms: ${{ vars.PLATFORM_LIST || 'linux/amd64' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: rosen-bridge
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Metadata action
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/rosen-bridge/ui-${{ matrix.apps }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: ${{ vars.PLATFORM_LIST || 'linux/amd64' }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          target: ${{ matrix.apps }}
