name: Build and Push Docker Image (rosen-service)

on:
  push:
    branches:
      - dev
  release:
    types:
      - 'published'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        type: string
        default: dev
      environment:
        description: 'GitHub environment name (e.g. pandora, public-launch, ...)'
        required: true
        type: string
        default: pandora

jobs:
  build:
    name: Build ${{ matrix.platform }}-${{ matrix.apps }}
    permissions: write-all
    runs-on: ubuntu-latest
    if: ${{ !(github.event_name == 'release' && github.event.action == 'published' && contains(github.ref_name, 'guard') || contains(github.ref_name, 'watcher')) }}
    environment: ${{ github.event_name == 'push' && 'pandora' || github.event_name == 'release' && 'public-launch' || github.event.inputs.environment }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        platform: ${{ fromJSON(vars.PLATFORM_LIST || '["linux/amd64"]') }}
        apps: ["rosen-service"]

    steps:
      - name: Checkout the Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc

      - name: Setup npm 11.6.2
        run: npm i -g npm@11.6.2

      - name: Setup rosen-service Configs
        run: |
          npx @rosen-bridge/cli@${{ vars.ROSEN_CLI_VERSION || 'latest' }} download-assets -c ${{ vars.RELEASE_NAME }} ${{ vars.RELEASE_TAG }} -o ./apps/rosen-service/config/
          rm ./apps/rosen-service/config/contracts-*

      - name: Set up QEMU
        if: contains(matrix.platform, 'arm')
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,arm

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare for artifact
        shell: bash
        run: |
          platform='${{ matrix.platform }}'
          echo "PLATFORM_PAIR=${platform//\//-}" >> "$GITHUB_ENV"

      - name: Generate Docker Metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/rosen-bridge/ui-${{ matrix.apps }}

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=image,name=ghcr.io/rosen-bridge/ui-${{ matrix.apps }},push-by-digest=true,name-canonical=true,push=true
          target: ${{ matrix.apps }}

      - name: Export digest file
        shell: bash
        run: |
          mkdir -p "${{ runner.temp }}/digests"
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest artifact
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}-${{ matrix.apps }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  publish:
    name: Publish Multi-arch Manifest
    runs-on: ubuntu-latest
    needs: [build]
    environment: ${{ github.event_name == 'push' && 'pandora' || github.event_name == 'release' && 'public-launch' || github.event.inputs.environment }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        apps: ["rosen-service"]

    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*-${{ matrix.apps }}
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image tag for workflow_dispatch
        id: set-tag
        if: github.event_name == 'workflow_dispatch'
        shell: bash
        run: |
          branch="${{ github.event.inputs.branch }}"
          branch="${branch//\//-}"
          echo "tag=${branch}-${{ github.event.inputs.environment }}" >> "$GITHUB_OUTPUT"

      - name: Generate Docker Metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/rosen-bridge/ui-${{ matrix.apps }}
          tags: |
            type=match,pattern=\d+\.\d+\.\d+,enable=${{ github.event_name == 'release' }}
            type=raw,value=dev,enable=${{ github.event_name == 'push' }}
            type=raw,value=${{ steps.set-tag.outputs.tag }},enable=${{ github.event_name == 'workflow_dispatch' }}

      - name: Login to GHCR Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
        run: |
          docker buildx imagetools create \
            $(printf ' -t %s' $TAGS) \
            $(printf 'ghcr.io/rosen-bridge/ui-${{ matrix.apps }}@sha256:%s ' *)